PORT=5000

MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/digital_banking

JWT_SECRET=your_long_random_secret

JWT_EXPIRES_IN=1d

SUSPICIOUS_TRANSACTION_THRESHOLD=50000

DAILY_TRANSFER_LIMIT=100000

MIN_SAVINGS_BALANCE=1000

MIN_CURRENT_BALANCE=0

ANNUAL_SAVINGS_INTEREST_RATE=0.03

NODE_ENV=development

STAFF_EMAIL=staff@example.com

STAFF_PASSWORD=your_staff_password